<launch>
	<!-- 启动turtlesim节点 -->
	<node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node"/>

	<!-- 第三章 3.1: 启动publisher和subscriber -->

	<!-- 启动publisher节点 -->
    <node pkg="HW_Chapter3" type="turtle1_vel_publisher.py" name="turtle1_vel_publisher" output="screen"/>
	<!--  启动HW_Chapter3功能包下的turtle1_vel_publisher.py节点，
	名字重新命名为turtle1_vel_publisher，名称与rosnode list应一一对应	-->

	<!-- 启动subscriber节点 -->
	<node pkg="HW_Chapter3" type="turtle1_vel_subscriber.py" name="turtle1_vel_subscriber" output="screen"/>

</launch>
